/*font-family: 'Lora', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Overpass', sans-serif;*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(240, 255, 128);

}

.main-header {
  position: fixed;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(240, 255, 128);
  padding: 0 0.4rem;
  margin-top: 0;
  transition: all 0.3s ease-in-out;
  z-index: 999;
}

.main-header.hidden {
  margin-top: -100%;
}

.logo {
  width: 40px;
  height: 40px;
  margin-left: 20px;
}

.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  margin-left: -100%;
  transition: all 0.2s linear;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
}

.main-nav.show {
  margin-left: 0;
}

.nav-opciones {
  background-color: rgb(240, 255, 128);
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
}

.opciones {
  margin-top: 2rem;
  color: #444444;
  text-decoration: none;
  font-weight: 500;
  position: relative;
}

.opciones::after {
  content: "";
  position: absolute;
  background-color: white;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 3px;
  transition: 0.3s ease all;
}

.opciones:hover {
  color: #8A8541;
}

.opciones:hover::after {
  width: 100%;
}

.button-menu {
  z-index: 200;
  width: 40px;
  height: 40px;
  border: none;
  display: flex;
  background: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.redes-sociales-nav {
  text-decoration: none;
  margin: 30px;
}

.redes-sociales-nav>a {
  /* margin: 20px; */
  text-decoration: none;
  color: inherit;
  padding: 20px;
}

.redes-sociales-nav>a:hover {
  opacity: 50%;
}

.button-menu span {
  width: 37px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #444444;
  border-radius: 3px;
  transform-origin: 4px 0px;
  transition: all 0.2s linear;
}

.button-menu.close span {
  opacity: 1;
  transform: rotate(45deg) translate(0px, 0px);
  background: rgb(240, 255, 128);
}

.button-menu.close span:nth-child(2) {
  transform: rotate(-45deg) translate(-10px, 6px);
}

.button-menu.close span:nth-child(3) {
  display: none;
}

/*Diseño repondive de la navbar para cuando es mas grande de un cel*/
@media screen and (min-width: 768px) {
  .button-menu {
    display: none;
  }

  .main-logo {
    flex-basis: 30%;
  }

  .main-nav {
    position: relative;
    margin-left: 0;
    flex-basis: 70%;
    margin-left: 30%;
    width: 70%;
    height: 100%;
  }

  .nav-opciones {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    background: rgb(240, 255, 128);
  }

  .redes-sociales-nav {
    display: none;
  }

  .opciones {
    display: inline-block;
    margin-top: 0;
    margin-right: 2rem;

  }
}

/* imagen fe fondo vista principal al iniciar*/
.carrusel {
  background-image: url("../img/foto1.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
  height: 100vh;
  /* z-index: 998; */
}

.contenido {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  height: 100vh;
  text-align: left;
  padding: 20px;
  z-index: 2;
}

.titulo {

  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
  font-weight: 600;
  color: #E3E3E3;
}

.subtitulo {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: #FFFFFF;
}

.contenido p {
  color: #FFFFFF
}

/*boton de descubrir*/
.boton-carrusel {
  box-sizing: border-box;
  background-color: #F3D424;
  width: 33px;
  padding: 8px 19px 8px;
  text-decoration: none;
  border-radius: 50px;
  border: none;
  color: #FFFFFF;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  transition: width 0.5s ease-in-out;
  border: 1px solid #F3D424;
}

.boton-carrusel:hover {
  width: 150px;
  padding: 8px 19px 8px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #F3D424;
}

/* reposive para PC para el cuerpo de la pagina sobre todo la foto pricipal */
@media(min-width: 768px) {
  .carrusel {
    display: flex;
    justify-content: start;
    align-items: center;
  }

  .titulo {

    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 80px;
    font-weight: 700;
    color: #E3E3E3;
  }

  .subtitulo {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #FFFFFF;
  }
}

/* section de caracteristicas #caracteristicas */
.caracteristicas {
  padding-bottom: 20px;
  background-color: #FCD469;

}

.caracteristicas-div {
  display: flex;
  flex-direction: column;
  /* justify-content: center;  */
  align-items: center;
}

.titulo-caracteristicas {
  display: flex;
  justify-content: initial;
  align-items: initial;
  margin-bottom: 1rem;
  padding-left: 2rem;
  font-family: 'Poppins', sans-serif;
  font-size: 100px;
  font-weight: 600;
  color: #FFFFFF;
  /* color: #D96900; */

}


.punto-caracteristicas {
  margin-top: 67px;
  /* margin-left: 5px; */
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #232323;
}

.titulo-caracter {
  padding-top: 15px;
  display: flex;
  align-items: start;
  justify-content: start;
}

.card-caracter {
  background-color: #fff;
  /* background: linear-gradient(to bottom left, #efefee, #fcd46b); */
  width: 75%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

  img {
    width: 45%;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
  }

  &:nth-child(2) {
    flex-direction: row-reverse;

    img {
      object-fit: cover;
      border-radius: 0 10px 10px 0;
    }
  }

  & .card-caracter-contenido {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    font-family: 'Overpass', sans-serif;
    /* margin: 25px; */

    & .card-titulo {
      font-family: 'Poppins', sans-serif;
      font-weight: 600;
      color: #232323;
      font-size: 2rem;
      text-align: center;
    }

    & p {
      font-size: .875rem;
    }
  }
}





/*Diseño responsive sobre caracteristicas*/

@media (max-width: 768px) {

  .titulo-caracter {
    padding-top: 15px;
    display: flex;
    align-items: start;
    justify-content: start;
  }

  .titulo-caracteristicas {
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    font-weight: 600;
    color: #FFFFFF;
  }

  .punto-caracteristicas {
    margin-top: 33px;
    margin-left: 5px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #232323;
  }

  .card-caracter,
  .card-caracter2 {
    height: fit-content;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 15px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    text-align: justify;
    font-family: 'Overpass', sans-serif;
    /* margin: 25px; */
  }

  .card-caracter-contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* text-align: justify; */
    font-family: 'Quicksand', sans-serif;
    margin: 25px;
  }

  .card-titulo {
    /* padding: 20px 5px; */
    font-size: 45px;
    text-align: center;
  }

  .card-caracter>img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
  }


  .card-caracter2 img {

    height: 100%;
    border-radius: 10px 10px 0 0;
    object-fit: contain;
  }



  .card-caracter>p,
  .card-caracter2>p {
    padding: 20px;
    font-size: 20px;
  }
}

.titulo-nosotros {
  display: flex;
  justify-content: initial;
  align-items: initial;
  margin-bottom: 10px;
  padding-left: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 100px;
  font-weight: 600;
  color: #232323;
  /* color: #D96900; */
}

.punto-nosotros {
  margin-top: 67px;
  /* margin-left: 5px; */
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #E29B1A;
}

.titulo-caracter-nosotros {
  padding-top: 15px;
  display: flex;
  align-items: start;
  justify-content: start;
}

.historia {
  padding: 5%;
  background-color: #FFF0C5;
  margin: 5px 50px 50px 50px;
}

/* .historia>h4{
  color: #232323;
  font-size: 45px;
  text-align: center;
  padding: 5px;
} */
.historia>p {
  /* padding: 5%; */

  font-family: 'Lora', serif;
  font-size: 18px;
  text-align: justify;
}

.titulo-historia {
  margin-top: 0;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 45px;
  text-align: center;
}

@media (max-width: 768px) {
  .titulo-nosotros {
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    font-weight: 600;
    color: #232323;
  }

  .punto-nosotros {
    margin-top: 33px;
    margin-left: 5px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #E29B1A;
  }
}



/* .card {
  margin: 10px 35% 10px;
} */

.titulo-fotos {
  /* padding-top: 15px; */
  display: flex;
  align-items: start;
  justify-content: start;
}

.punto-caracteristicas2 {
  margin-top: 67px;
  margin-left: 5px;

  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #E3DAC9;
}

.titulo-caracteristicas2 {
  margin-bottom: 15px;
  padding-left: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 100px;
  font-weight: 600;
  color: #E29B1A;
}

#galeria {
  /* padding: 10px; */
  height: 130vh;
  background-color: #232323;

}

.galeria-fotos {
  display: grid;

  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-content: space-evenly;
  align-items: center;

}

.galeria-fotos>img {
  background-color: #FFFFFF;
  width: 370px;
  height: 270px;
  object-fit: cover;
  object-position: center;
  padding: 5px;
  display: block;
  margin: auto;
  transition: transform 0.3s;
}

.galeria-fotos>img:hover {
  background-color: #FFFFFF;
  transform: scale(1.2);
  padding: 2px;
}

@media (max-width: 768px) {
  .punto-caracteristicas2 {
    margin-top: 47px;
    margin-left: 5px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #E3DAC9;
  }

  .titulo-caracteristicas2 {
    margin-bottom: 15px;
    padding-left: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    font-weight: 600;
    color: #E29B1A;
  }

  .galeria-fotos {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  #galeria {
    height: 150%;
  }

  .galeria-fotos>img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 15px;
  }
}

#contactos {
  background-color: #ffffff;
}

.punto-caracteristicas3 {
  margin-top: 67px;
  margin-left: 5px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #232323;
}

.titulo-caracteristicas3 {
  margin-bottom: 15px;
  padding-left: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 100px;
  font-weight: 600;
  color: #E29B1A;
}


.contacto-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.iconos-contactos {
  padding: 50px 30px 100px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/*iconos de Google*/
.material-symbols-outlined {
  /* background-color: #232323; */
  width: 80px;
  height: 80px;
  padding: 23%;
  border-radius: 50px;
  font-size: 2.5em;
  text-align: justify;
  color: #E29B1A;
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.material-symbols-outlined:hover {
  color: #FFFFFF;
}


.iconos-contactos-boton,
.iconos-mapa-boton,
.iconos-whatsapp-boton {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #E29B1A;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.iconos-contactos-boton:hover,
.iconos-mapa-boton:hover,
.iconos-whatsapp-boton:hover {
  color: #E3DAC9;
  background-color: #E29B1A;
  border: 2px solid #232323;
}

.preguntas {
  margin-top: 20px;
  text-align: center;
  color: #232323;
  font-weight: 500;
}

.respuestas {
  text-align: center;
  color: #232323;
}

@media (max-width: 768px) {
  .punto-caracteristicas3 {
    margin-top: 47px;
    margin-left: 5px;

    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #232323;
  }

  .titulo-caracteristicas3 {
    margin-bottom: 15px;
    padding-left: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    font-weight: 600;
    color: #E29B1A;
  }

  #contactos {
    height: 100%;
    width: 100%;
  }

  .contacto-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}

.map {
  height: 100vh;
  width: 100%;
  margin: 0;
}

.formulario {
  display: none;
}


.formulario.mostrar {
  background-color: #F3D424;
  width: 500px;
  height: auto;
  margin: 40px 30%;
  padding: 20px 25px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.titulo-formulario {
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  padding: 25px;
}

.campo-formulario {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  font-family: 'Lora', serif;
}

.campo-formulario>textarea {
  width: 300px;
  height: 150px;
  resize: none;
}

/* .etiquetasFormulario {
  font-family: 'Lora', serif;
} */

.btn-outline-success {
  width: 300px;
  margin: 15px 0;
  padding: 5px;
}

/* Reponsive para el formulario */
@media(max-width: 768px) {
  .formulario.mostrar {
    margin: 40px 10%;
  }



}

footer {
  background-color: #292D33;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.redes-sociales {
  display: flex;
  justify-content: center;
  align-items: center;
}

.redes-sociales a {
  margin: 20px;
}

.redes-sociales>a:hover {
  opacity: 50%;
}

.titulo-fotter {
  color: #F0FF80;
  margin: 5px;
}