<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Not Found</title>
  </head>

  <body>
    <section class="not-found">
      <div class="not-found-contenido">
        <h2 class="not-found-titulo">404</h2>
        <p class="not-found-sub-titulo">Página no encontrada</p>
        <p class="not-found-parrafo">
          La página que estás buscando no existe o ha sido movida.
        </p>
        <a class="btn-volver" href="/">Volver al inicio</a>
      </div>
      <img src="/img/foto1.webp" alt="" />
    </section>
  </body>
</html>
