@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

/* https://realty-template.webflow.io/*/
:root {
    --white: #f8f8f8;
    --black: hsl(120, 100%, 0%);
    --blackHover: hsl(120, 100%, 3%);
    --gray: hsl(0, 0%, 85%);
    --grayHover: #ececec;
    --text-gray: hsl(0, 0%, 17%);
    --ancho: 90vw;
    --border-radius: 2rem;
    --primary-font: 'Plus Jakarta Sans', sans-serif;
    --secondary-font: 'Bricolage Grotesque', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 3rem;
    align-items: center;
    width: 100vw;
    background-color: var(--white);
    margin: 0 auto;
    animation: aumentarAncho 0.2s ease;
    /* transition: all 0.5s ease-in-out; */


    &.nav-scroll {
        padding: 0.4rem 0.5rem;
        position: sticky;
        top: 1rem;
        width: 80vw;
        border-radius: 3rem;
        border: 1px solid var(--black);
        margin: 0 auto;
        animation: reducirAncho 0.4s ease-in-out;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
        z-index: 900;
    }


    .nav-logo {
        display: flex;
        align-items: center;
        justify-content: center;

        .logo {
            width: 2.5rem;
        }
    }

    .nav {
        width: 30vw;

        .nav-opciones {
            display: flex;
            justify-content: space-evenly;
            font-size: 0.875rem;


            .opciones {
                text-decoration: none;
                color: var(--black);
            }

            .nav-redes {
                display: none;
            }
        }
    }

    .nav-contacto {
        border-radius: 3rem;
        text-decoration: none;
        background-color: var(--black);
        font-size: 1.1rem;
        padding: 0.5rem 1.5rem;
        color: var(--white);

        &:hover {
            background-color: var(--blackHover);
        }
    }

    .button-menu {
        display: none;
    }




}

@keyframes reducirAncho {
    0% {
        width: 100vw;
        top: 0;
        border: 1px solid transparent;
        padding: 0.5rem 3rem;
        border-radius: 0;
        margin: 0;
    }

    50% {
        width: calc(90vw);
        top: 0.5rem;
        border: 1px solid transparent;
        padding: 0.45rem 2.75rem;
        border-radius: 1.5rem;
        margin: 0 auto;
    }

    100% {
        width: 80vw;
        top: 1rem;
        border: 1px solid var(--black);
        padding: 0.4rem 0.5rem;
        border-radius: 3rem;
        margin: 0 auto;
    }
}

@keyframes aumentarAncho {
    0% {
        width: 80vw;
        top: 1rem;
        border: 1px solid var(--black);
        padding: 0.4rem 0.5rem;
        border-radius: 3rem;
        margin: 0 auto;
    }

    25% {
        width: calc(85vw);
        top: 0.75rem;
        border: 1px solid transparent;
        padding: 0.425rem 2.625rem;
        border-radius: 2.25rem;
        margin: 0 auto;
    }

    50% {
        width: calc(90vw);
        top: 0.5rem;
        border: 1px solid transparent;
        padding: 0.45rem 2.75rem;
        border-radius: 1.5rem;
        margin: 0 auto;
    }

    75% {
        width: calc(95vw);
        top: 0.25rem;
        border: 1px solid transparent;
        padding: 0.475rem 2.875rem;
        border-radius: 0.75rem;
        margin: 0 auto;
    }

    100% {
        width: 100vw;
        top: 0;
        border: none;
        padding: 0.5rem 3rem;
        border-radius: 0;
        margin: 0;
    }
}

.principal {
    width: var(--ancho);
    display: grid;
    grid-template-columns: 48% 25% 25%;
    grid-template-rows: 33vh 50vh 50vh;
    gap: 1rem;
    margin: 25vh auto;

    .principal-titulo {
        display: flex;
        align-items: center;
        grid-column: 1/2;
        grid-row: 1/2;
        font-size: 3rem;
        font-family: var(--primary-font);
        padding: 1rem;
        font-weight: 500;
    }

    .principal-parrafo {
        display: flex;
        align-items: center;
        justify-content: center;
        grid-column: 2/-1;
        grid-row: 1/2;
        padding: 0.5rem auto;
        text-wrap: pretty;
        font-size: 1.1rem;
        font-weight: 400;

    }

    .img-principal {
        display: inline-block;
        grid-column: 1/2;
        grid-row: 2/-1;
        position: relative;
        cursor: pointer;
        transition: transform 0.3s ease-in-out;

        img {
            border-radius: 2rem;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .img-principal-titulo {
            position: absolute;
            bottom: 3rem;
            left: 3rem;
            color: var(--white);
            font-size: 2.6rem;
            font-family: var(--primary-font);
            font-weight: 400;
        }

        .img-principal-parrafo {
            position: absolute;
            bottom: 1.5rem;
            left: 3rem;
            color: var(--white);
            font-weight: 400;
            font-size: 1.1rem;
        }

        .btn-reservar {
            position: absolute;
            top: 2rem;
            left: 2rem;
            background-color: #f8f8f8;
            padding: 0.5rem 1rem;
            border-radius: 2rem;
            cursor: pointer;
            display: flex;
            align-items: center;
            font-weight: 300;
            color: var(--black);

            img {
                width: 1.1rem;
                height: 1.1rem;
                margin-right: 0.5rem;
            }

            &:hover {
                opacity: 0.8;
            }
        }

        .boton-mas-info {
            position: absolute;
            bottom: 1.5rem;
            right: 2rem;
            width: fit-content;
            height: fit-content;
            background-color: #f8f8f8;
            border-radius: 50%;
            cursor: pointer;
            z-index: 50;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.8rem;
            transition: transform 0.3s ease-in-out;

            img {
                width: 1.4rem;
                height: 1.4rem;
            }

            &:hover {
                transform: rotate(-45deg);
            }
        }

        &:hover .boton-mas-info {
            transform: rotate(-45deg);
        }
    }

    .carrousel {
        grid-column: 2/-1;
        grid-row: 2/3;
        position: relative;

        .img-carrousel {
            position: absolute;
            border-radius: 2rem;
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0;
            transition: opacity 0.5s ease;

            &.active {
                opacity: 1;
            }

        }

        .btn-left {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.5rem;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            background-color: #222222bb;
            backdrop-filter: blur(5px);
            width: 2.3rem;
            height: 3.2rem;
            border-radius: 0 2rem 2rem 0;
            cursor: pointer;

            .caret {
                position: absolute;
                right: 20px;
                /* Ajustar la posición del caret */
                width: 0;
                height: 0;
                border-color: var(--white);
                border-style: solid;
                border-width: 0 0.05em 0.05em 0;
                height: 0.45em;
                left: 1rem;
                width: 0.45em;
                transform: rotate(135deg);
                /* Color del caret */
            }

            &:hover {
                background-color: #222222;
            }

            &:hover .caret {
                animation: moverCaretLeft 0.8s ease-in-out infinite;
            }
        }

        .btn-right {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.5rem;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            background-color: #222222bb;
            backdrop-filter: blur(5px);
            width: 2.3rem;
            height: 3.2rem;
            border-radius: 2rem 0 0 2rem;
            cursor: pointer;

            .caret {
                position: absolute;
                right: 20px;
                /* Ajustar la posición del caret */
                width: 0;
                height: 0;
                border-color: var(--white);
                border-style: solid;
                border-width: 0 0.05em 0.05em 0;
                height: 0.45em;
                right: 1rem;
                vertical-align: top;
                width: 0.45em;
                transform: rotate(-45deg);
                /* Color del caret */
            }

            &:hover {
                background-color: #222222;
            }

            &:hover .caret {
                animation: moverCaretRight 0.8s ease-in-out infinite;
            }
        }
    }

    .video {
        grid-column: 2/3;
        overflow: hidden;
        border-radius: 2rem;
        position: relative;

        img {
            border-radius: 2rem;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.3s ease-in-out;
        }

        &:hover .bg-video {
            transform: scale(1.1);
        }

        .play {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            background-color: #f8f8f83d;
            backdrop-filter: blur(5px);
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;


            img {
                width: 2rem;
                height: 2rem;
            }
        }


    }

    .more {
        grid-column: 3/-1;
        grid-row: 3/4;
        background-color: var(--gray);
        border-radius: 2.5rem;
        display: flex;
        flex-direction: column;
        padding: 2rem;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 0.5rem;
        position: relative;


        .more-titulo {
            font-size: 4.5rem;
            font-family: var(--primary-font);
            font-weight: 400;

        }

        .more-subtitulo {
            font-size: 1.4rem;
            font-weight: 400;
            margin-bottom: 0.5rem;
        }

        .boton-mas-info {
            position: absolute;
            bottom: 1.5rem;
            right: 2rem;
            width: fit-content;
            height: fit-content;
            background-color: #f8f8f8;
            border-radius: 50%;
            cursor: pointer;
            z-index: 50;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.8rem;
            transition: transform 0.3s ease-in-out;

            img {
                width: 1.4rem;
                height: 1.4rem;
            }

            &:hover {
                transform: rotate(-45deg);
            }
        }

        &:hover .boton-mas-info {
            transform: rotate(-45deg);
        }


    }
}

@keyframes moverCaretLeft {
    0% {
        left: 1rem;
    }

    100% {
        left: 0.5rem;
    }
}

@keyframes moverCaretRight {
    0% {
        right: 1rem;
    }

    100% {
        right: 0.5rem;
    }
}

.caracteristicas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 40vh 1fr;
    width: var(--ancho);
    margin: 0 auto 25vh auto;
    gap: 2rem;


    &.fixed {
        position: sticky;
        top: 2rem;
        z-index: -1;
    }

    .caracteristicas-titulo {
        font-size: 1.5rem;
        font-family: var(--primary-font);
        font-weight: 400;
        grid-column: 1/3;
    }

    .primero {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .segundo {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .tercero {
        grid-column: 3/-1;
        grid-row: 2/3;
    }

    .caracteristicas-opciones {

        .titulo {
            font-size: 3.5rem;
            font-family: var(--secondary-font);
            font-weight: 400;
            margin-bottom: 0.5rem;

        }

        .sub-titulo {
            font-size: 1.5rem;
            font-weight: 400;
            margin-bottom: 1rem;
            text-wrap: balance;
        }

        .parrafo {
            line-height: 1.6rem;
            font-weight: 400;
            margin-bottom: 1rem;
            text-wrap: balance;
        }

    }
}

.sobre-nosotros {
    height: 150vh;
    background-color: #010101;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    /* Aplica la animación */

    &.fixed {
        min-width: var(--ancho);
        margin: 0 auto;
    }

    img {
        height: 100%;
        width: 70%;
        margin: 0 auto;
    }

    .sobre-nosotros-titulo {
        width: 60%;
        position: absolute;
        color: #f8f8f8;
        top: 25vh;
        font-size: 3.5rem;
        font-family: var(--primary-font);
        font-weight: 400;
        margin-bottom: 3rem;
        text-wrap: balance;
        text-align: center;
    }

    .sobre-nosotros-descripcion {
        width: 60%;
        position: absolute;
        color: #f8f8f8;
        top: 48vh;
        font-size: 1.2rem;
        line-height: 1.6rem;
        font-weight: 400;
        margin-bottom: 2rem;
        text-wrap: balance;
        text-align: center;
    }

    .sobre-nosotros-btn {
        position: absolute;
        top: 70vh;
        width: 10rem;
        height: 3rem;
        border-radius: 3rem;
        border: none;
        background-color: #f8f8f87e;
        backdrop-filter: blur(5px);
        color: #010101;
        font-size: 1.2rem;
        font-weight: 400;
        cursor: pointer;

        &:hover {
            background-color: #f8f8f8;
            box-shadow: 0 0 5px #f8f8f8;
        }
    }
}

.galeria-caracteristicas {
    margin: 15vh auto;
    width: var(--ancho);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;

    h2 {
        grid-column: 1/-1;
        grid-row: 1/2;
        font-size: 2.5rem;
        font-weight: 400;
        margin-bottom: 0.2rem;
    }

    .card {
        text-decoration: none;
        color: var(--text-gray);

        .contenido {
            position: relative;
            width: 20vw;
            height: 20vw;
            margin: 0 auto;
            cursor: pointer;
            border-radius: 2rem;
            overflow: hidden;


            &:hover {
                .img-btn {
                    top: 70%;
                }

                .btn-mas {
                    transform: rotate(45deg);
                }

            }

            .img-btn {
                position: absolute;
                top: 0;
                transition: top 0.5s ease-in-out;

                img {
                    z-index: 50;
                    position: relative;
                    width: 20vw;
                    height: 20vw;
                    object-fit: cover;
                    border-radius: 2rem;
                }

                .btn-mas {
                    display: inline-block;
                    position: absolute;
                    text-align: center;
                    z-index: 100;
                    top: 1.2rem;
                    right: 5%;
                    width: 2.5rem;
                    height: 2.5rem;
                    background-color: #f8f8f83f;
                    backdrop-filter: blur(5px);
                    border-radius: 50%;
                    cursor: pointer;
                    font-size: 2rem;
                    line-height: 2rem;
                    color: #fff;
                    transition: transform 0.3s ease-in-out;

                }

                .nombre-caracteristica {
                    font-size: 1.5rem;
                    font-family: var(--primary-font);
                    font-weight: 400;
                    text-align: center;
                }
            }

            .caracteristicas {
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 2rem;
                z-index: 1;
                background-color: #ececec;
                padding: 1.5rem;
                display: flex;
                flex-direction: column;
                gap: 1.2rem;

                box-sizing: border-box;

                .caracteristicas-titulo {
                    font-size: 1.2rem;
                }

                .caracteristicas-detalles {
                    font-size: 0.875rem;
                    font-weight: 400;
                    color: #757575;
                }

                .caracteristicas-linea {
                    display: flex;
                    align-items: center;
                    justify-content: space-around;

                    span {
                        font-weight: 600;
                        font-size: 1.2rem;
                        display: flex;
                        align-items: center;
                        gap: 0.5rem;
                        color: #757575;

                        img {
                            color: #757575;
                        }
                    }
                }
            }
        }

        .nombre-caracteristica {
            font-size: 1.2rem;
            font-family: var(--primary-font);
            font-weight: 400;
            margin-top: 2vh;
            margin-left: 1rem;
        }
    }
}

.comentarios {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 5rem;
    max-width: var(--ancho);
    margin: 20vh auto;
    position: relative;



    .comentarios-pres {
        height: fit-content;
        grid-column: 1/2;
        position: sticky;
        top: 4rem;

        .comentarios-titulo {
            font-size: 3rem;
            font-weight: 400;
            margin-bottom: 1rem;
        }

        .comentarios-parrafos {
            font-size: 1rem;
            font-weight: 400;
            text-wrap: balance;
        }
    }

    .cards-comentarios {
        grid-column: 2/3;
        grid-row: 1/2;
        display: flex;
        flex-direction: column;
        gap: 5rem;
        height: 100%;

        .card-comentario {
            padding: 0.5rem 1rem;
            border-radius: 1rem;
            height: fit-content;
            position: relative;

            &:nth-child(2) {
                margin-right: 8rem;


                img {
                    position: absolute;
                    top: 1rem;
                    right: 0;
                    width: 6rem;
                    height: 6rem;
                    border-radius: 50%;
                    outline: 20px solid #fff;
                }

                .card-comentarios-contenido {
                    background-color: #ececec;
                    margin-right: 0;
                    border-radius: 1rem;
                    padding: 1rem 5.7rem 1.5rem 2rem;

                    h3 {
                        font-size: 1.5rem;
                        font-weight: 500;
                        margin-bottom: 0.5rem;
                    }

                    p {
                        font-size: 1rem;
                        font-weight: 400;
                        text-wrap: balance;
                        color: #757575;
                    }
                }
            }

            &:nth-child(1) {
                margin-left: 6rem;
                margin-bottom: 1rem;

                img {
                    position: absolute;
                    top: 1rem;
                    left: 0;
                    width: 5rem;
                    height: 5rem;
                    border-radius: 50%;
                    outline: 20px solid #fff;
                }

                .card-comentarios-contenido {
                    background-color: #ececec;
                    width: 100%;
                    height: fit-content;
                    border-radius: 1rem;
                    padding: 1rem 1.5rem 1.5rem 5.5rem;

                    h3 {
                        font-size: 1.5rem;
                        font-weight: 500;
                        margin-bottom: 0.5rem;
                    }

                    p {
                        font-size: 1rem;
                        font-weight: 400;
                        text-wrap: balance;

                        color: #757575;
                    }
                }
            }

        }
    }
}

.galeria-imagenes {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 15vh auto;
    width: var(--ancho);


    .galeria-contenido-titulo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0.2rem;
        width: var(--ancho);

        .galeria-titulo {
            font-size: 2.5rem;
            font-weight: 400;
            color: var(--text-gray);
        }

        .ver-mas {
            display: inline-block;
            border-radius: 3rem;
            text-decoration: none;
            border: 1px solid var(--text-gray);
            background-color: #ffffff;
            font-size: 1.1rem;
            padding: 0.875rem 1.875rem;
            color: var(--text-gray);
            margin: 2rem 0;
            cursor: pointer;

            &:hover {
                background-color: var(--blackHover);
                color: var(--white);
            }
        }
    }

    .galeria-imagenes-contenido {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        gap: .5rem;
        width: var(--ancho);
        grid-auto-flow: dense;

        .imagen {
            overflow: hidden;
            position: relative;
            border: 2px solid #ddd;
            border-radius: var(--border-radius);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
            }

            &.img-grande {
                grid-column: span 2;
                grid-row: span 2;
            }

            &.img-mediana {
                grid-column: span 2;
                grid-row: span 1;
            }

            &.img-pequenia {
                grid-column: span 1;
                grid-row: span 1;
            }
        }


    }
}

.contactos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 90vh;
    max-width: var(--ancho);
    margin: 15vh auto 20vh auto;
    gap: 1rem;
    z-index: 100;

    img {
        grid-column: 2/3;
        border-radius: 2rem;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .contactos-descripcion {
        grid-column: 1/2;
        background-color: var(--grayHover);
        border-radius: 2rem;
        display: flex;
        padding: 2.5rem;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        height: 100%;

        h2 {
            font-size: 2.5rem;
            font-weight: 600;
            margin-bottom: 1.1rem;
            color: var(--text-gray);
        }

        p {
            font-size: 1.1rem;
            font-weight: 400;
            text-wrap: balance;
            color: var(--text-gray);

        }

        .btn-contacto {
            display: inline-block;
            border-radius: 3rem;
            text-decoration: none;
            background-color: var(--text-gray);
            font-size: 1.1rem;
            padding: 0.875rem 1.875rem;
            color: var(--white);
            margin: 2rem 0;

            &:hover {
                background-color: var(--blackHover);
            }
        }
    }
}

/* FOOTER */
.footer {
    z-index: 50;
    position: relative;
    background-color: var(--text-gray);
    min-height: 60vh;
    max-width: 100vw;
    min-width: var(--ancho);


    &.scroll {

        margin: 15vh auto;
    }

    .footer-fijo {
        z-index: 100;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--text-gray);
        color: var(--white);
        width: var(--ancho);
        border-radius: var(--border-radius);
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1.5fr;
        grid-template-rows: 100%;
        align-items: center;
        /* justify-content: space-evenly; */
        align-content: space-around;
        justify-items: center;
        height: 60vh;
        padding: 0 5vh;

        .col-1 {
            grid-column: 1/2;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 1.5rem 0;
            align-items: flex-start;

            .logo {

                img {
                    width: 4rem;
                    height: 4rem;
                    margin-bottom: 1rem;
                }

                .subtitulo-footer {
                    font-size: 0.9rem;
                    font-weight: 200;
                }
            }

            .titulo-footer {
                font-size: 0.8rem;
                font-weight: 200;

            }
        }

        .links-footer {
            &.col-2 {
                grid-column: 2/3;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
            }

            &.col-3 {
                grid-column: 3/4;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
            }

            &.col-4 {
                grid-column: 4/5;
                flex-direction: column;
                justify-content: flex-start;
                gap: 1rem;
                align-items: center;
            }

            width: 100%;
            height: 40%;
            display: flex;



            h3 {
                font-size: 0.9rem;
                font-weight: 400;

            }

            .links {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;

                a {
                    font-size: 0.8rem;
                    font-weight: 200;
                    text-decoration: none;
                    color: var(--white);

                    &:hover {
                        opacity: 0.5;
                    }
                }
            }
        }

        .contacto-footer {

            width: 100%;
            height: fit-content;
            padding: 0.3rem 0.2rem 0.3rem 0.9rem;
            border-radius: var(--border-radius);
            background-color: #ececec;

            input[type="text"] {
                background-color: transparent;
                border: none;
                outline: none;
                width: 65%;
                font-size: 0.875rem;
                color: var(--text-gray);
            }

            .btn-contacto {
                display: inline-block;
                border-radius: 3rem;
                text-decoration: none;
                background-color: var(--text-gray);
                font-size: 0.75rem;
                padding: 0.35rem 1.15rem;
                color: var(--white);

                &:hover {
                    background-color: var(--blackHover);
                }
            }
        }

    }
}

/******** 404 NOT FOUND ********/

.not-found {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 85vh;
    max-width: 80vw;
    margin: 7.5vh auto;
    gap: 1rem;
    z-index: 100;

    .not-found-contenido {
        grid-column: 1/2;
        background-color: var(--grayHover);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0;
        border-radius: 2rem;

        .not-found-titulo {
            font-size: 9rem;
            font-weight: 800;
            color: var(--text-gray);
            margin: 0;
        }

        .not-found-sub-titulo {
            font-size: 2.8rem;
            font-weight: 500;
            margin: 0;
            color: var(--text-gray);
        }
    }

    img {
        grid-column: 2/3;
        border-radius: 2rem;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .not-found-parrafo {
        font-size: 1.1rem;
        font-weight: 300;
        text-wrap: balance;
        margin-top: 1rem;
    }

    .btn-volver {
        display: inline-block;
        border-radius: 3rem;
        text-decoration: none;
        background-color: var(--text-gray);
        font-size: 1.1rem;
        padding: 0.875rem 1.875rem;
        color: var(--white);
        margin: 2rem 0;

        &:hover {
            background-color: var(--blackHover);
        }
    }
}